header{
	-moz-box-align: stretch;

	background: rgb(255, 255, 255) none repeat scroll 0% 0%;

	border-bottom: 1px solid rgb(212, 218, 223);

	box-shadow: rgba(116, 129, 141, 0.1) 0px 1px 1px 0px;

	z-index: 20;

	display: flex;

	align-items: stretch;

	position: relative;

	flex: 0 1 80px;

	min-height: 80px;
	background-color: #FFF;

}

header .navbar-collapse.show{
	position: fixed;
	top: 80px;
	width: 80%;
	height: 100%;
	left: 0;
	background-color: #FFF;
	border-right:1px solid #ddd;
}

.no-mrb{
	margin-bottom: 0;
}
.menu-left{
	position: -webkit-sticky;
	position: sticky;
	top: 4rem;
	z-index: 1000;
	height: calc(100vh - 4rem);
	background-color: #f5f7f9;
}
.menu-left .content{
	max-height: calc(100vh - 5rem);
	overflow-y: auto;
	padding-right: 30px;
}
.slider{
	background-image: url(https://i-vnexpress.vnecdn.net/2018/06/30/7-1530344842_1200x0.jpg);
	height: 350px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover;
}
footer{
	position: relative;
}
footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 9998;
	

}

.admin{
	position: fixed;
	top:0;
	width: 100%;
	
	height: 100%;
	z-index: 9999;
	display: none;
	
}
.admin.show{
	display: block;
	animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;

}
.admin .panel{
	background-color: #3775e0;
	position: absolute;
	width: 20%;
	height: 100%;
	
	transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.admin.show .panel {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
    z-index: 1;
}

.admin .panel {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
.admin .panel-after{
	
	position: absolute;
	width: 100%;
	height: 100%;
	
	background-color: #FFF;
	opacity: 0.9;
}
.admin .outbutton{
	position: absolute;
	bottom: 0px;
	z-index: 9999;
	text-align: center;
	width: 100%;
	background-color: #416db9;
	padding-top: 10px;
	padding-bottom: 10px;
}
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

.panel div.menu{
	text-align: right;
}
.panel div.menu > ul{
	padding: 0;
	margin:auto;
	list-style: none;
	max-width: 250px;
	margin-right: 0;
}

.panel div.menu > ul > li a{
	padding: 5px 8px;
	display: block;
	text-align: left;
}

@media(min-width: 1650px){
	.container{
		min-width: 1600px;
	}
	.container-fluid{
		max-width: 1600px;
	}
}

